{% extends '../common/base.html' %}

{% block header %}
<li>
  <button id="addSlide" class="btn chat-oper navbar-btn" data-target="#add-impress-modal">
    <span class="glyphicon glyphicon-plus"></span>&nbsp;Slide
  </button>
</li>

<li>
  <button id="mediaOpts" class="btn chat-oper navbar-btn" data-toggle="modal" data-target="#check-media-modal">
    <span class="glyphicon glyphicon-wrench"></span>&nbsp;Media
  </button>
</li>
<li><a href="/">Home</a></li>
{% endblock header %}

{% block content %}
<div class="page chat-page">
  <div class="affix-bar col-lg-2 col-md-2 col-sm-12">
    <div id="localVideo" class="video-source">
      <div id="localVolBar" class="vol-bar"></div>
    </div>

    <div id="remotes"></div>

  </div>

  <div class="video-screen col-lg-10 col-md-10 col-sm-12">
    <div id="impress" class="carousel slide screen" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators"></ol>
      <div class="carousel-inner impress-panel text-center center-block"
           id="slides"
           role="listbox">
      </div>
      <button class="btn btn-default btn-xs edit" id="slideEdit">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <div id="editBoard" class="container-fluid">
        <form>
          <div class="form-group">
            <label for="slideContent">Slide Title</label>
            <textarea type="text" class="form-control" id="slideContent" placeholder="Slide content here..."></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include "check-media.html" %}
</div>
{% endblock content %}

{% block script %}
{% parent %}
<script src="/js/chat.js"></script>
{% endblock script %}
