<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" charset="utf-8">

<title>Ecclesia Chat</title>
<link href="/css/vendors/bootstrap.min.css" rel="stylesheet">
<link href="/css/vendors/idangerous.swiper.css" rel="stylesheet">
<link href="/css/chat_layout.css" rel="stylesheet">
<link href="/css/highlight.css" rel="stylesheet">


</head>
<body>

<div class="container-fluid main">
  {% include "chart-modal.html" %}

  {% include "impress-modal.html" %}

  <!-- Check media trigger modal -->
  <button id="media-check-btn" class="btn btn-primary btn-lg sr-only" data-toggle="modal" data-target="#check-media-modal"></button>

  {% include "check-media.html" %}

  <div class="affix-bar col-lg-12 col-md-12 col-sm-12">
    <div id="all-videos" class="sidebar left-sidebar">
      <div id="local-video" class="container-frame ">
        <div id="localVolBar" class="vol-bar" ></div>
      </div>
      <div  class="container-frame ">
        <div  class="vol-bar" ></div>
      </div>
    </div>
  </div>

  <div class="video-screen col-lg-12 col-md-12 col-sm-12">
    <div id="impress" class="carousel slide screen" data-ride="carousel">
      <input class="topic form-control btn" type="text" value="topic">
      <ol class="carousel-indicators">
        <li data-target="#impress" data-slide-to="0" class="active"></li>
        <li data-target="#impress" data-slide-to="1"></li>
      </ol>
      <div class=" carousel-inner text-center impress-panel center-block" role="listbox">
        <div id="slide-1" class="item active"># Welcome to Ecclesia
  ### you can sketch graph here :)
  ```py
  def hello(self):
    print 'wocao'
    return 1
  ```
        </div>  
        <div id="slide-2" class="item"># Hehehe
  ### you can sketch graph here :(
        </div>
      </div>
    </div>

    <div class="tools-bar">
      <button class="tools-icon" data-toggle="modal" data-target="#add-impress-modal">Impress</button>
      <button class="tools-icon" data-toggle="modal" data-target="#add-chart-modal">Chart</button>
    </div>
    
  </div>
</div>

<script src="/js/vendors/jquery-1.10.2.min.js"></script>
<script src="/js/vendors/jquery.cookie.js"></script>
<script src="/js/vendors/bootstrap.min.js"></script>
<script src="/js/plugins/jquery.postJSON.js"></script>
<script src="/js/plugins/jquery.estroke.js"></script>
<script src="/js/vendors/Chart.min.js"></script>
<script src="/js/vendors/marked.min.js"></script>
<script src="/rtc/socket.io-0.9.16.js"></script>
<script src="/rtc/simplewebrtc.bundle.js"></script>
<script src="/js/vendors/idangerous.swiper-2.1.min.js"></script>


<script src="/js/plugins/jquery.check_media.js"></script>
<script src="/rtc/chat_webrtc.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/upload.js"></script>
<script src="/js/sync.js"></script>

<script type="text/javascript">
$(document).ready(function () {
  var $mark = $('.item');
  $mark.each(function (index, ele) {
    var $this = $(ele);
    var text = marked($this.text()).trim();
    $this.html(text)
  })
})
</script>

</body>
</html>