<!-- Check media modal -->
<div class="modal fade" id="check-media-modal" tabindex="-1" role="dialog" aria-labelledby="check-media-modalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true" class="media-check-close-test-btn">&times;</span>
        </button>
        <h4 class="modal-title" id="check-media-modal-label">Media settings inspection</h4>
      </div>
      <div class="modal-body">
        <div class="iten-div">
          <div class="dropdown available-devices">
            <button class="btn btn-default dropdown-toggle btn-group btn-group-justified" type="button" id="select-camera" data-toggle="dropdown">
            </button>
            <ul class="dropdown-menu camera-menu" role="menu" aria-labelledby="select-camera"></ul>
          </div>
          <br>
          <div class="dropdown available-devices">
            <button class="btn btn-default dropdown-toggle btn-group btn-group-justified" type="button" id="select-audio" data-toggle="dropdown">
            </button>
            <ul class="dropdown-menu audio-menu" role="menu" aria-labelledby="select-audio"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
