<div class="affix-bar affix-right-bar col-lg-2 col-md-2">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="tabs text-center active" >
      <a href="#"><span class="preview glyphicon glyphicon-eye-open"></span></a>
    </li>
    <li role="presentation" class="tabs text-center" >
      <a href="#"><span class="glyphicon glyphicon-wrench"></span></a>
    </li>
    <li role="presentation" class="tabs text-center" >
      <a href="#"><span class="outline glyphicon glyphicon-list-alt"></span></a>
    </li>
  </ul>
  <!-- impress preview -->
  <div class="preview-block col-lg-12 col-md-12">
    <div id="all-preview-impress" class="sidebar right-sidebar">
      <div id="local-preview" class="container-frame"></div>
    </div>
  </div>
  <!-- end impress preview -->
  <div class="tools-block">
    <a href="#" class="tools-icon"><scan class="glyphicon glyphicon-pencil"></span></a>
    <a href="#" class="tools-icon"><scan class="glyphicon glyphicon-ban-circle"></span></a>
    <a href="#" class="tools-icon"><scan class="glyphicon glyphicon-trash"></span></a>
  </div>

  <div class="outline-block">
    <ul class="list-group"></ul>
  </div>
</div>