{% extends '../common/base.html' %}

{% block title %} Ecclesia History {% endblock title %}

{% block content %}
<div class="page history-page ecc-bg">
  <div class="history-panel-main">
    <div class="header text-center">
      <h1>Meeting History Records</h1>
    </div>
    <div class="row container history-records">
      {% for record in discusses %}
      <a href="/history/detail?{{ record.params }}" class="history-item" role="button">
        <div class="thumbnail">
          <div class="caption">
            <h3>{{ record.room }}</h3>
            <p class="history-item-field"><span class="history-item-label">host</span> {{ record.host.toString() }}</p>
            <p class="history-item-field"><span class="history-item-label">members</span> {% for user in record.participants %}
              <span>{{ user }}{% if !loop.last %},&nbsp;</span>{% endif %} {% endfor %}
            </p>
            <p class="history-item-field"><span class="history-item-label">date</span> {{ record.date.toDateString() }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
