<div class="history-present">
  <div id="history-impress" class="carousel slide screen" data-ride="carousel" data-interval="false">
    <ol class="carousel-indicators">
      {% for content in discuss.impress %}
      <li data-target="#history-impress" data-slide-to="{{ loop.index - 1 }}" {% if loop.first %} class="active" {% endif %}></li>
      {% endfor %}
    </ol>
    <div class="ecc-slide carousel-inner impress-panel text-center center-block" role="listbox">
      {% for content in discuss.impress %}
      <div class="item{% if loop.first %} active {% endif %}">
        <div class="text-center center-block slide-content" data-markdown-slide>
          {{ content }}
        </div>
      </div>
      {% endfor %}
      <button class="btn btn-default btn-xs edit">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </div>
    <a class="left carousel-control" href="#history-impress" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </a>
    <a class="right carousel-control" href="#history-impress" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>

</div>
