<div class="reg">
  <input id="useremail" type="text" class="form-control" placeholder="Your email required">
</div>
<br>
<div>
  <input id="username" type="text" class="form-control" placeholder="Pick a username">
</div>
<br>
<div><input id="password" type="password" class="form-control" placeholder="Create a password"></div>
<br>

<div><input id="repeatpwd" type="password" class="form-control" placeholder="Repeat your password"></div>
<br>
<div class="text-muted">
  <p color="white">Use letters, umerals and characters as your username or password</p>
</div>
<button type="button" id="sign-up-btn" class="btn btn-lg btn-success btn-block" >
  Sign up for Ecclesia
</button>
