.chat-page {
  margin: auto;
  max-width: 980px;
  flex-direction: row;
}

.carousel-inner * {
  border-radius: 0px;
  border: 0px;
}

.carousel-indicators {
  li {
    background-color: #aaa;
  }

  .active {
    background-color: #ddd;
  }
}

.impress-screen {
  flex: 1 0;
  height: 100%;
}

.screen {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 540px;
  background-color: rgba(255, 255, 255, .3);
  color: #444;
}

.impress-panel {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  .item {
    width: 100%;
    height: 100%;
  }
}

.edit {
  position: absolute;
  right: 2px;
  top: 2px;
  border: 0;
  z-index: 12;
}

#editBoard {
  position: absolute;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  display: none;
}

textarea {
  max-width: 100%;
}

.board {
  position: relative;
  height: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

.sketch {
  position: relative;
  top: 0;
  left: 0;
  padding: 0px;
  border: #666 solid 1px;
}

.impress {
  position: relative;
  height: 100%;
  margin: 0px;
  border: #666 solid 1px;
  z-index: 2;
}

.chat-videos {
  display: flex;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
  flex-basis: 200px;
}

.video-source {
  position: relative;
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  video {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) scaleX(-1) !important;
    height: inherit;
  }
}

.affix-bar {
  height: 100%;
  bottom: 0px;
}

.vol-bar {
  position: absolute;
  max-width: 5px;
  height: 0px;
  right: 0px;
  bottom: 10px;
  max-height: 200px;
}

.slide-content {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.available-devices {
  .dropdown-toggle {
    position: relative;
  }
  .dropdown-toggle:after {
    content: ' ';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
  }
}

.chat-oper {
  background: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    color: #fff;
    transform: scale(1.1);
  }
}
