.chat-page {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 980px;
  min-height: 100vh;

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #352E42;
    z-index: -1;
  }
}

.chat-main {
  background: #181218;
  display: flex;
  height: 600px;
  width: 100%;
}

.carousel-inner * {
  border-radius: 0px;
  border: 0px;
}

.carousel-indicators {
  li {
    background-color: #aaa;
  }

  .active {
    background-color: #ddd;
  }
}

.impress-screen {
  flex: 1 0;
  height: 100%;
}

.screen {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #444;
}

.impress-panel {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  .item {
    width: 100%;
    height: 100%;
  }
}

.edit {
  position: absolute;
  right: 2px;
  top: 2px;
  border: 0;
  z-index: 12;
}

#editBoard {
  position: absolute;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  display: none;
}

textarea {
  max-width: 100%;
}

.board {
  position: relative;
  height: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

.sketch {
  position: relative;
  top: 0;
  left: 0;
  padding: 0px;
  border: #666 solid 1px;
}

.impress {
  position: relative;
  height: 100%;
  margin: 0px;
  border: #666 solid 1px;
  z-index: 2;
}

.chat-videos {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: stretch;
}

.chat-local-video {
  width: 100%;
  height: 340px;
  video {
    width: 100%;
  }
}

.chat-remote-video {
  margin-top: auto;
  height: 100px;
}

.video-source {
  width: 120px;
  height: inherit;
  video {
    height: inherit;
  }
}

.chat-local-video, .video-source {
  position: relative;
  display: flex;
  overflow: hidden;

  video {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) scaleX(-1) !important;
  }
}

.affix-bar {
  height: 100%;
  bottom: 0px;
}

.vol-bar {
  position: absolute;
  max-width: 5px;
  height: 0px;
  right: 0px;
  bottom: 10px;
  max-height: 200px;
}

.slide-content {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.available-devices {
  .dropdown-toggle {
    position: relative;
  }
  .dropdown-toggle:after {
    content: ' ';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
  }
  .dropdown-menu {
    width: 100%;
  }
}

.chat-top-bar {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin: 0;

  li {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  li + li {
    margin-left: 8px;
  }
}

.chat-oper {
  width: 48px;
  height: 48px;
  margin: auto;
  border-radius: 50% !important;
  background: #060606;
  color: #fff;
  font-size: 20px;
  font-weight: bold;

  span {
    vertical-align: middle;
  }

  &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .15);
    transition: background-color .2s ease;
  }

  &.chat-oper-phone {
    color: #dc2f2f;
    transform: rotate(135deg);
  }
}
