.history-page {
  min-height: 100vh;
  height: 100%;

  .header {
    color: #fff;
  }

  .thumbnail {
    padding: 10px 10px;
    color: #444;
    background-color: rgba(255,255,255,.9);
  }
}

.history-records {
  max-width: 100%;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.history-panel-main {
  max-width: 980px;
  margin: 100px auto 30px;
}

.history-item {
  display: flex;
  padding: 10px;
  flex-basis: 25%;

  .thumbnail {
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    border: none;
    border-radius: 10px;
    width: 100%;
  }

  .caption p {
    margin: 0;
  }

  .caption h3 {
    margin: 8px auto;
  }
}

.history-item-label {
  color: #888;
  font-size: 15px;
}

.history-item-field {
  font-weight: 500;
}

.history-item:hover {
  text-decoration: none;

  .thumbnail {
    background-color: #fafafa;
    transform: scale(1.1);
    transition: transform .2s ease-out;
  }
}


.history-present {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 980px;

  .carousel-control {
    background-image: none;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #a4c2d0;
    z-index: -1;
  }
}

.history-impress {
  background: #fff;
  display: flex;
  height: 600px;
  width: 100%;
}
