.history-page {
  .header {
    color: #fff;
  }

  .thumbnail {
    background-color: rgba(255,255,255,.9);
  }
}

.history-records {
  max-width: 100%;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.history-panel-main {
  margin: 50px auto 30px;
}

.history-item {
  display: flex;
  padding: 0 10px;
  flex-basis: 25%;

  .thumbnail {
    box-shadow: 0 0 10px rgba(255,255,255,.3);
    border: none;
    border-radius: 10px;
    width: 100%;
  }

  .caption p {
    margin: 0;
  }

  .caption h3 {
    margin: 8px auto;
  }
}

.history-item-label {
  color: #888;
  font-size: 15px;
}

.history-item-field {
  font-weight: 500;
}

.history-item:hover {
  text-decoration: none;

  .thumbnail {
    background-color: #fafafa;
    transform: scale(1.1);
    transition: transform .2s ease-out;
  }
}
