.home-page {
  padding-top: 50px;
}

.home-greet {
  position: absolute;
  top: 60px;
  width: 980px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);

  .huge-title {
    font-size: 45px;
    box-shadow: 0 0 40px;
    padding: 30px;
    border-radius: 10px;
  }
}

.home-main {
  margin: auto;
  max-width: 980px;
  width: 980px;
  display: flex;
  justify-content: space-between;

  .tab-content {
    height: 200px;
    padding-top: 22px;
  }

  .tab-pane {
    margin-left: 0;
    margin-right: auto;
  }

  .ecc-form {
    max-width: 340px;
  }

  .tab-content, .home-oper {
    flex: 1 0;
  }
}

.home-oper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  padding-right: 100px;
  list-style: none;
}

.home-oper-item {
  flex: 1 0;
  text-align: center;

  & + & {
    margin-top: 20px;
  }

  a,
  a:focus,
  a:visited {
    color: #fff;
  }

  &.active,
  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, .15);
    background-color: rgba(255, 255, 255, .15);
    transition: all .2s ease-out;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.home-oper-title {
  font-size: 30px;
  padding: 10px 16px;
}
