{% extends '../common/base.html' %}

{% block title %} Ecclesia History Detail {% endblock title %}

{% block header %}
<div class="navbar-header">
  <a href="/" class="navbar-brand">Ecclesia</a>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/history">Histories</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
{% endblock header %}

{% block content %}
  <div class="page history-page">
    {% include "present.html" %}
  </div>
{% endblock content %}
