    <div class="charts">
      <div class="swiper-container">
        <div class="swiper-wrapper"></div>
          <div class="swiper-slide" id="charts"></div>
          <!-- 这里放chart<div class="swiper-slide">...</div>-->
          <div class="pagination"></div>
        </div>
      </div>
    </div>