    <button type="button" class="btn btn-primary btn-xs btn-refresh"><span class="glyphicon glyphicon-refresh"></span></button>
    <div class="charts">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" id="charts"></div>
        </div>
          <div class="pagination"></div>
        </div>
      </div>
    </div>