<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" charset="utf-8">

<title>chat [ecclesia]</title>
<link rel="stylesheet" href="/css/reveal.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/idangerous.swiper.css">
<link rel="stylesheet" href="/css/chat-layout.css">
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/js/head.min.js"></script>
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/eStroke.js"></script>
<script type="text/javascript" src="/js/Chart.min.js"></script>
<script type="text/javascript" src="/rtc/socket.io.js"></script>
<script type="text/javascript" src="/rtc/simplewebrtc.bundle.js"></script>
<script type="text/javascript" src="/js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.ajaxfileupload.js"></script>


<style type="text/css">

</style>
</head>
<body>
<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tool-bar">
        <span class="sr-only">navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tool Box</a>
    </div>

    <div class="collapse navbar-collapse" id="tool-bar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#" data-toggle="modal" data-target="#add-chart-modal">
            <span class="glyphicon glyphicon-stats"></span> Add Chart</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#add-impress-modal">
            <span class="glyphicon glyphicon-file"></span> Add Impress</a>
        </li>
        <li>
          <a id="test-add-chart" href="#" data-toggle="modal" data-target="">
            <span class="glyphicon glyphicon-file"></span> Add Pie</a>
        </li>
        <li>
          <a id="create-room-btn" data-toggle="modal" data-target="">
            <span class="glyphicon glyphicon-file"></span> Create Room</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<% include chart-modal.ejs %>

<% include impress-modal.ejs %>

<div class="container-fluid">
  <div class="affix-left-bar">
    <div id="all-videos" class="sidebar">
      <div id="local-video" class="video-frame">
        <div id="localVolBar" class="vol-bar" ></div>
      </div>
    </div>
  </div>

  <div class="main">
    <!-- sidebar of remote client videos -->
    <!-- main board and charts blank -->
    <div class="board">
      <div id="reveal" class="reveal impress">

        <div class="slides">
          <section data-markdown>
            <script type="text/template">
                ```cpp
                #include <iostream>
                using namespace std;
                int main() { cout << "hello world" << endl; return 0; }
                ```
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
                ```php
                public function foo()
                {
                    $foo = array(
                        'bar' => 'bar'
                    )
                }
                ```
            </script>
          </section>
          <section>
            <h1>wtf</h1>
          </section>
          <section>
            <h1>hell</h1>
          </section>
        </div>
      </div>
    </div>
    
    <div class="charts">
      <div class="swiper-container">
        <div class="swiper-wrapper">
            <!-- 这里放chart<div class="swiper-slide">...</div>-->
          </div>
          <div class="pagination"></div>
        </div>
      </div>
    </div><!-- end charts -->
  </div><!-- end main -->
</div>
<script type="text/javascript">
</script>

<script type="text/javascript" src="/js/chatInit.js"></script>
<script type="text/javascript" src="/rtc/chatWebRTC.js"></script>
<script type="text/javascript" src="/js/checkMarkdownUpload.js"></script>

</body>
</html>