<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" charset="utf-8">

<title>chat [ecclesia]</title>
<link rel="stylesheet" href="/css/reveal.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/idangerous.swiper.css">
<link rel="stylesheet" href="/css/chat-layout.css">
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/lib/js/head.min.js"></script>
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/eStroke.js"></script>
<script type="text/javascript" src="/js/Chart.min.js"></script>
<script type="text/javascript" src="/rtc/socket.io.js"></script>
<script type="text/javascript" src="/rtc/simplewebrtc.bundle.js"></script>
<script type="text/javascript" src="/js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript" src="/js/checkMediaPlugin.js"></script>


<style type="text/css">

</style>
</head>
<body>
<nav class="navbar navbar-default " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tool-bar">
        <span class="sr-only">navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tool Box</a>
    </div>

    <div class="collapse navbar-collapse" id="tool-bar">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#" data-toggle="modal" data-target="#add-chart-modal">
            <span class="glyphicon glyphicon-stats"></span> Insert Chart</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#add-impress-modal">
            <span class="glyphicon glyphicon-file"></span> Insert Impress</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a><span class="glyphicon glyphicon-user"></span> <%=username%> </a>
          
        </li>
        <li>
          <a id="leave-room-btn" href="/home/logout">
            <span class="glyphicon glyphicon-off"></span> Leave Room</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<% include chart-modal.ejs %>

<% include impress-modal.ejs %>

<!-- Check media trigger modal -->
<button id="media-check-btn" class="btn btn-primary btn-lg sr-only" data-toggle="modal" data-target="#check-media-modal"></button>

<% include check-media.ejs %>

<div class="container-fluid">
  <!-- left affix bar client videos -->
  <div class="affix-bar affix-left-bar">
    <div id="all-videos" class="sidebar left-sidebar">
      <div id="local-video" class="container-frame">
        <div id="localVolBar" class="vol-bar" ></div>
      </div>
    </div>
  </div>
  <!-- end left affix bar -->
  <!-- sidebar of remote client videos -->
  <!-- main board and charts blank -->
  <div class="main">
    <div class="board">
      <div id="reveal" class="reveal impress">
        <div class="slides">
          <section data-markdown>
            <script type="text/template">
              ```cpp
              #include <iostream>
              using namespace std;
              int main() { cout << "hello world" << endl; return 0; }
              ```
            </script>
          </section>
        </div>
      </div>
    </div>
    <!-- chart groove -->
  <% include chart-preview.ejs %>
    <!-- end chart groove -->
  <!-- end main -->
  <% include impress-preview.ejs %>

</div>
  <!-- end right affix bar -->
  

<script type="text/javascript">
</script>

<script type="text/javascript" src="/rtc/chatWebRTC.js"></script>
<script type="text/javascript" src="/js/chatInit.js"></script>
<script type="text/javascript" src="/js/markdownUpload.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#media-check-btn").click(function(){
    $("#check-media-modal").checkMedia(function (constrains) {
      $('#enter-room-btn').click(function() {
        enableWebRTC(constrains);
      })
    });
    
  }).click();
});
  
</script>
</body>
</html>