<!-- Check media trigger modal -->
<button id="show-media-modal" class="btn btn-primary btn-lg sr-only" data-toggle="modal" data-target="#check-media-modal"></button>



<!-- Check media modal -->
<div class="modal fade" id="check-media-modal" tabindex="-1" role="dialog" aria-labelledby="check-media-modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="check-media-modal-label">Modal title</h4>
      </div>
      <div class="modal-body">

        <div class="iten-div">
      <div class="dropdown available-camera">
        <button class="btn btn-default dropdown-toggle btn-group btn-group-justified" type="button" id="select-camera" data-toggle="dropdown">
          <!-- Available Cameras<span class="caret"></span> -->
        </button>
        <ul class="dropdown-menu camera-menu" role="menu" aria-labelledby="select-camera"></ul>
      </div>
      <br>
      <div class="dropdown available-audio">
        <button class="btn btn-default dropdown-toggle btn-group btn-group-justified" type="button" id="select-audio" data-toggle="dropdown">
          <!-- Available Audios<span class="caret"></span> -->
        </button>
        <ul class="dropdown-menu audio-menu" role="menu" aria-labelledby="select-audio"></ul>
      </div>
    </div>

      </div>
      <div class="modal-footer">
        <button type="button" id="btn-leave" class="btn btn-default" data-dismiss="modal">Leave Room</button>
        <button type="button" id="btn-enter" class="btn btn-primary"  data-dismiss="modal">Enter Room</button>
      </div>
    </div>
  </div>
</div>