<!DOCTYPE html>
<html>
<head>
<title>ecclesia [404]</title>
<link rel="stylesheet" href="css/bootstrap.min.css"></style>
<style type="text/css">
.center {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
</style>
</head>
<body>

<div class="container center">
  <div class="jumbotron">
  <h1>Requested page cannot be found!</h1>
  
  <p class="center"><a href="/" class="btn btn-primary btn-lg" role="button">back to home</a></p>
</div>
</div>

</body>
</html>