<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Ecclesia History Detail</title>
<link rel="stylesheet" type="text/css" href="/css/idangerous.swiper.css">
<link rel="stylesheet" type="text/css" href="/css/reveal.css">
<link rel="stylesheet" type="text/css" href="/css/history-detail-layout.css">
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/lib/js/head.min.js"></script>
<script type="text/javascript" src="/js/reveal.js"></script>
<script src="/js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
</head>
<style>

</style>
<body>
  <button class='btn-back'>Back</button>
  <div class="detail-container">
    <div class="detail">
    <!-- sidebar of remote client videos -->
    <!-- main board and charts blank -->
      <div class="board">
        <div id="reveal" class="reveal impress">
          <div class="slides" style="border:green solid 1px;">
            
          </div>
        </div>
      </div>

      <div class="swiper-container">
        <div class="swiper-wrapper">

        </div>
        <div class="pagination"></div>
      </div>

    </div>
      <div class="btn-close">×</div>
  </div>
<script type="text/javascript" src="/js/historyDetail.js"></script>
</body>
</html>