<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>ecclesia [query history]</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/history-layout.css">
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/lib/js/head.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
</head>

<body onload="loadInfo()">
	<div class="header">
    <a href="/home">back</a>
    <a href="/home/logout">Log out</a>
  </div>
	<h1>Ecclesia Home <span>welcome to use Ecclesia</span></h1>
	<div class="his-container">
		<div class="head-title">
      <img class="query-flag" src="/img/flag.png"/>
      <img class="query-icon" src="/img/history2-3.jpg">
		</div>

    <!-- history records -->
    <!-- <div class="demo div-container">
      <div class="list-group index">
        <a class="list-group-item list-group-item-success active">
          Meeting Index N
        </a>
        <a class="list-group-item">Meeting Room Name: xxx</a>
        <a class="list-group-item">Host: xxx</a>
        <a class="list-group-item">Date: xxx</a>
      </div> -->
    </div>

	</div>
<script type="text/javascript" src="/js/historyOperation.js"></script>

</body>

</html>