<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>ecclesia [query history]</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/history.css">
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/reveal.js"></script>
<script type="text/javascript" src="/js/lib/js/head.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/history.js"></script>
</head>

<body onload="loadInfo()">
	<div class="header">
    <strong><a href="/home/logout">
        Log out
    </a></strong>
  </div>
	<h1>Ecclesia Home <span>welcome to use Ecclesia</span></h1>
	<div class="his-container">
		<div class="head-title">
			<!-- <h1 style="">Query history </h1> -->
			<a class="btn-home" href="/home" target='_top' >Home</a>
			<img style="position:relative;top:275px;" src="img/flag.png"/>
		</div>

	</div>

</body>

</html>