<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Ecclesia History Detail</title>
<link rel="stylesheet" href="/css/idangerous.swiper.css">
<link rel="stylesheet" href="/css/reveal.css">
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/lib/js/head.min.js"></script>
<script type="text/javascript" src="/js/reveal.js"></script>
<script src="/js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
</head>
<style>
body {
  background-image: url(/img/pattern2.png), url(/img/background.jpg);
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: auto, cover;
  font-family: 'Josefin Slab', Arial, sans-serif;
}
.header{
  font-family:'Arial Narrow', Arial, sans-serif;
  line-height: 24px;
  font-size: 11px;
  background: #000;
  opacity: 0.9;
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  -webkit-box-shadow: 1px 0px 2px #000;
  box-shadow: 1px 0px 2px #000;
}
.header a{
  position: relative;
  left: 90%;
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #ddd;
  display: block;
}
.header a:hover{
  color: #fff;
}
.detail-container {
  position: absolute;
  /*display: none;*/
  top: 50px;
  left: 50%;
  margin-left: -630px;
  margin-bottom: 50px;
  padding: 20px;
  border: #7d7d7d solid 1px;
}
.detail { 
  width: 1220px;
  height: 600px;
  border-radius: 10px;
  padding: 20px;
  background:rgba(255, 255, 255, 0.6) none repeat scroll 0 0 !important;

}
.btn-back {
  float: right;
  margin-top: 10px;
  margin-right: 90px;
  width:100px;
  height:36px;
  border: #e8e8e8 solid 3px;
  border-radius: 100em;
  font-size: 18px;
  color: #e8e8e8;
  background-color: transparent;
}
.btn-back:hover {
  background-color: #848174;
  border: #848174 solid 3px;
}

.swiper-container {
  float: right;
  width: 200px;
  height: 600px;
  color: #fff;
  border-radius: 5px;
  background-color: #aeab9c;
}
.swiper-slide {
  margin-bottom: 10px;
}
.swiper-container img {
  width: 200px;
  height: 200px;
  background-color: #fff;
}
.board {
  position: relative;
  display: inline-block;
  top: 20px;
  left: 40px;
  width: 900px;
  height: 560px;
  border: black solid 1px;
  border-radius: 5px;
  background-color: #fff;  
  text-align: center;
}
.impress {
  top: 80px;
  left: 50px;
  height: 400px;
  width: 800px;
  border: blue solid 1px;
}
.reveal .controls div.navigate-left {
    top: 290px;
    left: -90px;
}
.reveal .controls div.navigate-right {
  left: 855px;
  top: 290px;

  border-left-width: 22px;
  border-left-color: #000;
}
.sketch-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /*display: inline-block;*/
  width: 800px;
  height: 400px;
  background-color: yellow;
}
.reveal .slides>section, .reveal .slides>section>section {
  padding: 0;
}
.btn-close {
  position:absolute;
  z-index: 1000;
  top:65px;
  left:950px;
  width:24px;
  height:24px;
  background-color:#e3e3e3;
  border:gray solid 1px;
  border-radius:5px;
  text-align:center;
  font-width:2px;
  font-size:33px;
  line-height:0.8em;
  cursor: pointer;
}
.btn-close:hover{
  background-color: #eeeeee;
}
</style>
<body onload = "loadData()">
  <button class='btn-back'>Back</button>
  <div class="detail-container">
    <div class="detail">
    <!-- sidebar of remote client videos -->
    <!-- main board and charts blank -->
      <div class="board">
        <div id="reveal" class="reveal impress">
          <div class="slides" style="border:green solid 1px;">
            
          </div>
        </div>
      </div>

      <div class="swiper-container">
        <div class="swiper-wrapper">

        </div>
        <div class="pagination"></div>
      </div>

    </div>
      <div class="btn-close">×</div>
  </div>
<script type="text/javascript">
function loadData(){
  var chartlist = JSON.parse($.cookie('ChartList'));
  chartlist.forEach(
    function(value,index){
      var chart = {
        id : value.id,
      }
      var postData = JSON.stringify(chart);
      $.ajax({
        url:'/history/history-detail',
        type:'POST',
        contentType : 'application/json',
        dataType: 'json',
        data:postData,
        success: function (data, status){
          $(".swiper-wrapper").append('<div class="swiper-slide"><img src="data:image/png;base64,'+data.img+'"/></div>');
        },
        error: function (data, status, e){
          alert(e);
        }
      });
    }
  );

  var mdlist = JSON.parse($.cookie('MarkdownList'));
  mdlist.forEach(
      function(value,index){
        $(".slides").append('<section data-markdown><script type="text/template">'+ mdlist[0].data + '</'+'script></section>');       
      }
    );
  Reveal.initialize({
    width: 900,
    height: 540,
    margin: 0.5,
    minScale: 1.0,
    maxScale: 1.0,
    center: true,
    transition: 'liner',
    transitionSpeed: 'fast',
    backgroundTransition: 'slide',

    dependencies: [
      { src: '../js/lib/../js/classList.js', condition: function() { return !document.body.classList; } },
      { src: '../js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '../js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: '../js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      ]  
  });
  var sketchlist = JSON.parse($.cookie('SketchList'));  
  var childrenList = $(".slides").children();
  sketchlist.forEach(
      function(value,index){
        var chart = {
          id : value.id,
        }
        var postData = JSON.stringify(chart);
        $.ajax({
          url:'/history/history-detail',
          type:'POST',
          contentType : 'application/json',
          dataType: 'json',
          data:postData,
          success: function (data, status){
            $(childrenList[index]).append('<img class="sketch-cover" src="data:image/png;base64,'+data.img+'"/>');
          },
          error: function (data, status, e){
            alert(e);
          }
        });
      }
  );              

}

$(document).ready(function(){
  var btnStatus = true;
  $(".btn-close").click(function(){
    if (btnStatus) {
      $(".sketch-cover").css("visibility","hidden");
      $(".btn-close")[0].innerHTML = "+";
      btnStatus = false;
    } else {
      $(".sketch-cover").css("visibility","visible");
      $(".btn-close")[0].innerHTML = "×";
      btnStatus = true;
    }
  });
  $(".btn-back").click(function(){
    window.location.href = "/history";
  });
});

  //chart slide
var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    paginationClickable: true,
    mode: 'vertical',
    freeMode: true,
  })
</script>
</body>
</html>