<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>ecclesia [home]</title>
<link rel="stylesheet" href="/css/bootstrap.min.css"></style>
<link rel="stylesheet" href="/css/home.css" />
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
</head>
<style>
thead{
	background-color: #eeeeee;
}
body {
	background-image: url(img/pattern.png), url(img/bd-1.jpg);
	width: 100%;
	overflow: hidden;
}
a.home-link {
  text-decoration: none;
  line-height: 1.8em;
}

</style>

<script type="text/javascript">
$(document).ready(function() {
  $("#create-room-btn").click(function() {
    var roomName = $('#create-room-name').val();
    
    $.ajax({
      url:'/home/create-room',
      type: 'POST',
      contentType:'application/json',
      dataType: 'json',
      data: JSON.stringify({
        request: 'create-room',
        roomName: roomName
      }),
      success: function (data) {
        console.log(data);
        if (data.response === 'create-success') {
          var username = sessionStorage.getItem('username');
          sessionStorage.setItem('roomName', data.roomName),
          sessionStorage.setItem('creator', data.creator),
          sessionStorage.setItem('roomHash', data.roomHash);
          sessionStorage.setItem('isHost', data.creator === username);
          window.location.href = '/chat';
        }
        else {
          console.log(data.response);
        }
      }
    });
  });
  $('#join-room-btn').click(function() {
    var roomName = $('#join-room-name').val(),
        host = $('#join-room-host').val();
    
    $.ajax({
      url:'/home/join-room',
      type: 'POST',
      contentType:'application/json',
      dataType: 'json',
      data: JSON.stringify({
        request: 'join-room',
        roomName: roomName,
        host: host
      }),
      success: function (data) {
        if (data.response === 'join-success') {
          sessionStorage.setItem('roomName', data.roomName),
          sessionStorage.setItem('creator', data.creator),
          sessionStorage.setItem('roomHash', data.roomHash);
          var username = sessionStorage.getItem('username');
          sessionStorage.setItem('isHost', data.creator === username);
          window.location.href = '/chat';
        }
        else {
          console.log(data.response);
        }
      }
    });
  })

});
</script>

<body>
	<div>
	    <div class="header">
        <a href="/home/logout">
            <strong>Log out</strong>
        </a>
	    </div>
	    <h1>Ecclesia Home <span>welcome to use Ecclesia</span></h1>
	    <div class="content menu-block">
	        <ul class="bmenu">
	            <li><a data-toggle="modal" data-target="#createModal" class="home-link">Create Room</a></li>
	            <li><a data-toggle="modal" data-target="#joinModal" class="home-link">Join Room</a></li>
	            <li><a href="/history" class="home-link queryHistory">Query History</a></li>
	            <li><a href="#" class="home-link">About</a></li>
	        </ul>
	    </div>
	</div>

<!--===================== join room ==========================-->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Join Room</h4>
      </div>
      <div class="modal-body">

			<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="creatorName" class="col-sm-2 control-label">Creator's name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="join-room-host" placeholder="Creator s name">
				</div>
			</div>
			<div class="form-group">
			<label for="roomName" class="col-sm-2 control-label">Room's name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="join-room-name" placeholder="Room s name">
				</div>
			</div>
			<div class="form-group">
				<label for="key" class="col-sm-2 control-label">Room's key</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="key" placeholder="Room s key">
					</div>
			</div>
			</form>

      </div>
      <div class="modal-footer">
		<button class="btn btn-default col-md-offset-2" data-dismiss="modal">Close</button>
		<button id="join-room-btn" class="btn btn-primary col-md-offset-6">Join</button>
      </div>
    </div>
  </div>
</div>
<!--======================query history=======================-->
  <!-- <div class="modal fade" id="queryModal">
  <div class="modal-dialog" style="width: 730px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Query history</h4>
      </div>
      <div class="modal-body">
			<iframe class="history-frame" src="file:///C:/Users/Administrator/Desktop/Query%20History.html" seamless></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div> -->

<!--==================== create room ==========================-->
<div class="modal fade" id="createModal">
  <div class="modal-dialog" style="width: 730px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create a room</h4>
      </div>
      <div class="modal-body">
			<div class="create-room-block">
				<div class="user-list">
					<ul class="list-group">
					  <!--user"s name list-->
					</ul>
				</div>
				<div class="user-list-right">
					<br/>
					<div class="form-group create-room-input">
					    <div class="input-group">
					      <div class="input-group-addon">ROOM NAME</div>
					      <input id="create-room-name" class="form-control" type="text" placeholder="Enter the name of the room">
					    </div>
					</div>
					<div class="form-group create-room-input invite-input">
					    <div class="input-group">
					      <div class="input-group-addon">INVITE USER</div>
					      <input class="form-control user-input" type="text" placeholder="Enter the name of other users"> 
					    </div>
					</div>
					<button type="button" class="btn btn-primary add-user">add</button>
          <div class="form-group create-room-input">
              <div class="input-group">
                <div class="input-group-addon">ROOM KEY</div>
                <input class="form-control" type="text" placeholder="Enter the key of the room">
              </div>
          </div>
				</div>

			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      	<button type="button" id="create-room-btn" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
<!--===========================================================-->

</body>

<script type="text/javascript">
$(document).ready(function(){
	$(".add-user").click(function(){
		var username = $(".user-input").val();
    if (username != "") {
  		var str = '<li class="list-group-item">' + username + '<span class="glyphicon glyphicon-remove" id="' + username + '" style="float:right;"></span></li>'
  		$(".list-group").append(str);
      $(".user-input").val("");
    }
		$("#"+ username).click(function(){
			var obj = $("#" + username).parent();
			obj.remove();
		});
	});
});
</script>

</html>