<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Ecclesia home</title>
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css"></style>
<link rel="stylesheet" type="text/css" href="css/home.css" />
</head>
<style>
thead{
	background-color: #eeeeee;
}
body {
	background-image: url(img/pattern.png), url(img/bd-1.jpg);
	width: 100%;
	overflow: hidden;
}
/*.container {
	position: absolute;
	left: 50%;
	top: 250px;
	margin-left: -90px; 
	width: 180px;
}*/
.history-block {
	position: absolute;
	top: 15%;
	left: 50%;
	margin-left: -350px;
	border: #e3e3e3 solid 1px;
	border-radius: 0.5em;
}
.history-frame {
	position: relative;
	width: 700px;
	height: 400px;
	background-color: #ffffff;
}
.create-room-block {
	position: relative;
	left: 50%;
	margin-left: -350px;
	width: 700px;
	height: 250px;
}
.user-list {
	float: left;
	width: 160px;
	height: 250px;
	border: #e3e3e3 solid 1px;
	border-radius: 0.5em;
	background-color: #eeeeee;
}
.user-list-right {
	float: left;
	width: 540px;
	height: 250px;
}
.invite-input {
	float: left;
	width: 450px;
}
.create-room-input {
	padding-bottom: 33px;
	padding-left: 20px;
	padding-right: 20px;
}
#add-user {
	margin-left: 20px;
}
.menu-block {
	top: 50px;
}
</style>

<body>
	<div class="container">
	    <div class="header" style="left:-115px;width:1370px;">
	        <span class="right">
	            <a href="###">
	                <strong>Log out</strong>
	            </a>
	        </span>
	        <div class="clr"></div>
	    </div>
	    <h1 style="margin-left:-110px;">Ecclesia Home <span>welcome use Ecclesia</span></h1>
	    <div class="content menu-block">
	        <ul class="bmenu">
	            <li><a href="###" data-toggle="modal" data-target="#createModal" style="text-decoration: none;line-height:1.8em;">Create Room</a></li>
	            <li><a href="###" data-toggle="modal" data-target="#joinModal" style="text-decoration: none;line-height:1.8em;">Join Room</a></li>
	            <li><a href="###" onclick="javascript:window.open('file:///D:/test/query-history.html','_top')" style="text-decoration: none;line-height:1.8em;">Query History</a></li>
	            <li><a href="###" style="text-decoration: none;line-height:1.8em;">About</a></li>
	            <!-- <li><a href="###" style="text-decoration: none;line-height:1.8em;">Description</a></li> -->
	        </ul>
	    </div>
	</div>

<!-- <div class="container">
	<button type="button" class="btn btn-primary btn-home" onclick="javascript:window.open('file:///D:/test/query-history.html','_top')">Query History</button>
	<button class="btn btn-primary btn-home" id="createRoom" data-toggle="modal" data-target="#createModal">Create A Room</button>
	<button class="btn btn-primary btn-home" id="joinRoom" data-toggle="modal" data-target="#joinModal">Join Room</button> 
</div> -->

<!--===================== join room ==========================-->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Join Room</h4>
      </div>
      <div class="modal-body">

			<form class="form-horizontal" role="form">
			<div class='form-group'>
				<label for='creatorName' class='col-sm-2 control-label'>Creator's name</label>
				<div class='col-sm-10'>
					<input type='text' class='form-control' id='creatorName' placeholder='Creator s name'>
				</div>
			</div>
			<div class='form-group'>
			<label for='roomName' class='col-sm-2 control-label'>Room's name</label>
				<div class='col-sm-10'>
					<input type='text' class='form-control' id='roomName' placeholder='Room s name'>
				</div>
			</div>
			<div class='form-group'>
				<label for='key' class='col-sm-2 control-label'>Room's key</label>
					<div class='col-sm-10'>
						<input type='password' class='form-control' id='key' placeholder='Room s key'>
					</div>
			</div>
			</form>

      </div>
      <div class="modal-footer">
		<button class='btn btn-default col-md-offset-2' data-dismiss="modal">Close</button>
		<button class='btn btn-primary col-md-offset-6'>Join</button>
      </div>
    </div>
  </div>
</div>
<!--======================query history=======================-->
<div class="modal fade" id="queryModal">
  <div class="modal-dialog" style="width: 730px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Query history</h4>
      </div>
      <div class="modal-body">
			<iframe class='history-frame' src='file:///C:/Users/Administrator/Desktop/Query%20History.html' seamless></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--==================== create room ==========================-->
<div class="modal fade" id="createModal">
  <div class="modal-dialog" style="width: 730px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create a room</h4>
      </div>
      <div class="modal-body">
			<div class="create-room-block">
				<div class="user-list">
					<ul class="list-group">
					  <!--user's name list-->
					</ul>
				</div>
				<div class="user-list-right">
					<br/>
					<div class="form-group create-room-input">
					    <div class="input-group">
					      <div class="input-group-addon">ROOM NAME</div>
					      <input class="form-control" type="text" placeholder="Enter the name of the room">
					    </div>
					</div>
					<div class="form-group create-room-input">
					    <div class="input-group">
					      <div class="input-group-addon">ROOM KEY</div>
					      <input class="form-control" type="text" placeholder="Enter the key of the room">
					    </div>
					</div>
					<div class="form-group create-room-input invite-input">
					    <div class="input-group">
					      <div class="input-group-addon">INVITE USER</div>
					      <input class="form-control" id="user-input" type="text" placeholder="Enter the name of other users"> 
					    </div>
					</div>
					<button type="button" class="btn btn-primary" id="add-user">add</button>
				</div>
			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      	<button type="button" class="btn btn-primary">Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<!--===========================================================-->
</body>

<script type="text/javascript">
$(document).ready(function(){
	$("#add-user").click(function(){
		var username = $("#user-input").val();
		var str = "<li class='list-group-item'>" + username + "<span class='glyphicon glyphicon-remove' id='" + username + "' style='float:right;'></span></li>"
		$(".list-group").append(str);
		$("#user-input").val("");
		$("#"+ username).click(function(){
			var obj = $("#" + username).parent();
			obj.remove();
		});
	});
});
</script>

</html>