<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>ecclesia [home]</title>
<link rel="stylesheet" href="/css/bootstrap.min.css"></style>
<link rel="stylesheet" href="/css/home-layout.css" />
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
</head>
<style>


</style>

<script type="text/javascript">

</script>

<body>
	<div>
	    <div class="header">
       <strong><a href="/home/logout">
            Log out
        </a></strong>
	    </div>
	    <h1>Ecclesia Home <span>welcome to use Ecclesia</span></h1>
	    <div class="content menu-block">
	        <ul class="bmenu">
	            <li><a data-toggle="modal" data-target="#createModal" class="home-link">Create Room</a></li>
	            <li><a data-toggle="modal" data-target="#joinModal" class="home-link">Join Room</a></li>
	            <li><a href="/history" class="home-link queryHistory">Query History</a></li>
	            <li><a href="#" class="home-link">About</a></li>
	        </ul>
	    </div>
	</div>

<!--===================== join room ==========================-->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Join Room</h4>
      </div>
      <div class="modal-body">

			<form class="form-horizontal" role="form">
      <div class="form-group">
      <label for="roomName" class="col-sm-2 control-label">Room's name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="join-room-name" placeholder="Room s name">
        </div>
      </div>
			
      <div class="form-group">
				<label for="creatorName" class="col-sm-2 control-label">Creator's name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="join-room-host" placeholder="Creator s name">
				</div>
			</div>
			<!-- <div class="form-group">
				<label for="key" class="col-sm-2 control-label">Room's key</label>
					<div class="col-sm-10">
						<input type="password" class="form-control" id="key" placeholder="Room s key">
					</div>
			</div> -->
			</form>

      </div>
      <div class="modal-footer">
		<button class="btn btn-default col-md-offset-2" data-dismiss="modal">Close</button>
		<button id="join-room-btn" class="btn btn-primary col-md-offset-6">Join</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createModal">
  <div class="modal-dialog" style="width: 730px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create a room</h4>
      </div>
      <div class="modal-body">
			<div class="create-room-block">
				<div class="user-list">
					<ul class="list-group">
					  <!--user"s name list-->
					</ul>
				</div>
				<div class="user-list-right">
					<br/>
					<div class="form-group create-room-input">
					    <div class="input-group">
					      <div class="input-group-addon">ROOM NAME</div>
					      <input id="create-room-name" class="form-control" type="text" placeholder="Enter the name of the room">
					    </div>
					</div>
					<div class="form-group create-room-input invite-input">
					    <div class="input-group">
					      <div class="input-group-addon">INVITE USER</div>
					      <input class="form-control user-input" type="text" placeholder="Enter the name of other users"> 
					    </div>
					</div>
					<button type="button" class="btn btn-primary add-user">add</button>
          <!-- <div class="form-group create-room-input">
              <div class="input-group">
                <div class="input-group-addon">ROOM KEY</div>
                <input class="form-control" type="text" placeholder="Enter the key of the room">
              </div>
          </div> -->
				</div>

			</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      	<button type="button" id="create-room-btn" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
<!--===========================================================-->

</body>

<script type="text/javascript" src="/js/homeOperation.js"></script>

</html>