{% extends 'common/base.html' %}
{% block title %} Ecclesia Home {% endblock title %}

{% block header %}

{% endblock header %}

{% block content %}
<div class="page home-page">
  <div class="main">
    <div class="home-menu center-block">
      <h1 class="huge-title">Welcome to Ecclesia, {{ user.account }}</h1>
      <div class="user-opers">
        <div class="col-md-4 text-center">
          <a href="#create" class="home-link" role="tab" data-toggle="tab" aria-controls="create" aria-expanded="true">
            <i class="fa fa-bar-chart fa-5x"></i>
            <h2>Create a meeting</h2>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <a href="#join" class="home-link" role="tab" data-toggle="tab" aria-controls="join" aria-expanded="false">
            <i class="fa fa-users fa-5x"></i>
            <h2>Join a meeting</h2>
          </a>
        </div>
        <div class="col-md-4 text-center">
          <a href="/history" class="home-link">
            <i class="fa fa-folder-open-o fa-5x"></i>
            <h2>View history</h2>
          </a>
        </div>
      </div>

      <div class="tab-content">
        <form id="create" action="/create" method="post" class="type-form ecc-form center-block tab-pane active">
          <div class="form-group">
            <input name="room" type="text" class="form-control" placeholder="Room name">
          </div>
          <div class="text-center form-group">
            <button class="btn btn-success" type="submit">Create Room</button>
          </div>
        </form>

        <form id="join" action="/join" method="post" class="type-form ecc-form center-block tab-pane">
          <div class="form-group">
            <input name="room" type="text" class="form-control" placeholder="Meeting name">
          </div>
          <div class="form-group">
            <input name="host" type="text" class="form-control" placeholder="Meeting Host">
          </div>
          <div class="text-center form-group">
            <button class="btn btn-default" type="submit">Join Room</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>
{% endblock content %}
