<div class="affix-bar affix-right-bar">
  <ul class="nav nav-tabs nav-right" role="tablist">
    <li role="presentation" class="active nav-active preview"><a href="#" class="nav-a">Preview</a></li>
    <li role="presentation" class="unactive tools"><a href="#" class="nav-a">Tools</a></li>
    <li role="presentation" class="unactive outline"><a href="#" class="nav-a">Outline</a></li>
  </ul>
  <!-- impress preview -->
  <div class="preview-block">
    <div id="all-preview-impress" class="sidebar right-sidebar">
      <div id="local-preview" class="container-frame" >
        
      </div>
    </div>
  </div>
  <!-- end impress preview -->
    <div class="tools-block">
      <a href="#" class="tools-icon"><scan class="glyphicon glyphicon-pencil"></span></a>
      <a href="#" class="tools-icon"><scan class="glyphicon glyphicon-ban-circle"></span></a>
      <a href="#" class="tools-icon"><scan class="glyphicon glyphicon-trash"></span></a>
    </div>

    <div class="outline-block">
      <ul class="list-group">
        <li class="list-group-item first">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
</div>