<!-- add impress modal -->
<div class="modal fade" id="add-impress-modal" tabindex="-1" role="dialog" aria-labelledby="add-impress-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="add-impress-label">Add Impress File</h4>
      </div>
      <div class="modal-body">
        <!-- <form method="post" enctype="multipart/form-data" id="file-upload-form"> -->
          <input type="file" id="upload-md-file" class="sr-only">
          <div class="input-group">
          <input type="text" id="md-file-path" class="form-control" placeholder="Select markdown file">
          <span class="input-group-btn"><button type="button" id="scan-btn" class="btn btn-primary">Scan</button></span>
          </div><br>
          <div id="upload-message" class="alert" role="alert"></div>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="upload-btn" class="btn btn-primary disabled">Upload</button>
      </div>
    </div>
  </div>
</div>
<!-- end