  <div class="container-fluid introduction">  
      <section class="main">

        <ul class="timeline">

          <li class="event">
            <input type="radio" name="tl-group" checked/>
            <label></label>
            <div class="thumb user-1"><span></span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>About Ecclesia</h3>
                  <p>Ecclesia is an application which simulates a real-time meeting online. We approve at most 6 participants to attend the meeting at the same time. Several functions are provided to help you hold the meeting. It's high time for you joining us and enjoying the convenience brought by Ecclesia.</p>
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-2"><span></span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>Online Voice And Online Video</h3>
                  <p>When you are in a online meeting, it's quite inconvenient to communicate by typing. Accordingly, we support online voice and online video, making the online meeting feel like face-to-face. You will never be botherd by typing any more.</p>
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-3"><span></span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>Drawing</h3>
                  <p>When we have a discussion in reality, we usually use pen to draw on paper to help us present ourselves more clearly. Therefore, we make it possible to draw in the screen using your mouse. You draw something by the mouse in the screen, and Ecclesia will synchronize this to the others.</p>
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-4"><span></span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>Add Chart</h3>
                  <p>This is a function which can generate a chart by the data you put in. You can choose one template from several templates we provide, than put in the data you want to show to the other members in the form of this chart. After that, the final chart will be delivered to everyone in the meeting.</p>
                </div>
              </div>
            </div>
          </li>

          <li class="event">
            <input type="radio" name="tl-group"/>
            <label></label>
            <div class="thumb user-5"><span></span></div>
            <div class="content-perspective">
              <div class="content">
                <div class="content-inner">
                  <h3>Add Presentations</h3>
                  <p>This function can help you demonstrate presentations from the local. You can choose your local PPT and Ecclesia will import it into the real-time meeting. By this, the demonstration will make your opinion much easier to understand.</p>
                </div>
              </div>
            </div>
          </li>
          
        </ul>
  </div>