<!DOCTYPE HTML>
<html>
<head>
  <title>ecclesia [login]</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/login-layout.css">
  <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/formAction.js"></script>

  <style type="text/css">
  
  </style>

</head>
<body>
  <div class="head-container">
    <div class="wrapper">
     <div class="navbar navbar-default" role="navigation">
      <a class="navbar-brand" href="#">Ecclesia</a>

      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Sign up</a></li>
          <li class="active" id="sign-up-btn"><a href="/login">Sign in</a></li>
        </ul>
      </div>
    </div>


  </div>
</div>

<div class="sign-up-container">
  <div class="sign-up-bgimage">
  <p class="title">Ecclesia Login</p>
  <div class="sign-in-form">
    <div>
      <input id="inputUsername" type="text" class="form-control" placeholder="Username">
    </div>
    <br><br>
    <div>
      <input id="inputPassword" type="password" class="form-control" placeholder="Password">
    </div>
    <br><br>
    <button type="button" id="sign-in-btn" class="btn btn-lg btn-success btn-block" >
      Sign in
    </button>
  </div>
</div>
</div>





</body>
</html>