<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<head>
<title>ecclesia [main]</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/register-layout.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/formAction.js"></script>
<script type="text/javascript" src="/js/modernizr.custom.63321.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>


</head>

<style>

</style>

<body>

	<div class="head-container">
		<nav class="navbar navbar-default" role="navigation" style="border-radius:0px;">
		<div class="navbar-header" >
			<a class="navbar-brand" href="/">Ecclesia</a>
		</div>
		<div class="btn-li">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/">Sign up</a></li>
				<li><a href="/login">Sign in</a></li>
			</ul>
		</div>
		</nav>
	</div>

	<div class="sign-up-container">
		<div class="sign-up-bgimage">
		<!-- left part: introduction -->
		<div class=" huge-title">
			<p><font class="join-form">Welcome&nbsp; to </font><font class="welcome-form">&nbsp;Ecclesia</font></p>
			<p style="line-height:90%">
				<font class="content-form">
					This is an application which simulates a real-time meeting online.
					<br>
					Several functions are provided to help you hold the meeting.
					<br>
					Enjoy the convenience brought by Ecclesia!
				</font>
			</p>
		</div>
		<!-- right part: sign in part -->
		<div class="sign-up-form">
			<div>
				<input id="useremail" type="text" class="form-control" placeholder="Your email required">
			</div>
			<br>
			<div>
				<input id="username" type="text" class="form-control" placeholder="Pick a username">
			</div>
			<br>
			<div>
				<input id="password" type="password" class="form-control" placeholder="Create a password">
			</div>
			<br>

			<div>
				<input id="repeatpwd" type="password" class="form-control" placeholder="Repeat your password">
			</div>
			<br>
			<div class="text-muted">
				<p><font color="white">Use letters, umerals and characters as your username or password</p>
			</div>
			<br>

			<button type="button" id="sign-up-btn" class="btn btn-lg btn-success btn-block" >
				Sign up for Ecclesia
			</button>
		</div>
	</div>
	</div>




	<% include introduction.ejs %>

<script type="text/javascript">
$(document).ready(function() {
	$("#sign-up-btn").click(function(){
    var name = $('#username').val(),
        pwd = $('#password').val(),
        pwdrpt = $('#repeatpwd').val(),
        email = $('#useremail').val();
        $.post('/register', {username: name, userPwd: pwd}, function(result) {
          if (result == 'true') {
            window.location.href = "/home";
          } else {
            window.location.href = "/";
          }
        });
  });
});
</script>
</body>

</html>        