<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>sketch 测试页面</title>
<script src="public/js/jquery-1.10.2.min.js"></script>
<script src="public/js/sketch-lsn.js"></script>
</head>

<style>
a{
	float: left;
  display: block;
  padding: 10px;
  border: #000 solid 1px;
}
</style>

<body>
<div class="tools">
	<a href="#colors_sketch" data-tool="marker">Marker</a>
  <a href="#colors_sketch" data-tool="eraser">Eraser</a>
	<a href="#colors_sketch" data-download="png" style="float: right; width: 100px;">Download</a>
  <a href="#colors_sketch" data-clear="true">Clear</a>
  <a href="#colors_sketch" data-tool="ban">Prohibit</a>
</div>

<canvas id="colors_sketch" width="800" height="500" style="position:relative;left:-300px;border: black solid 1px;"></canvas>
 
<script type="text/javascript">
  $(function() {
    $.each(['#f00', '#ff0', '#0f0', '#0ff', '#00f', '#f0f', '#000', '#fff'], function() {
      $('.tools').append("<a href='#colors_sketch' data-color='" + this + "' style='width: 10px; height: 20px; background: " + this + ";'></a> ");
    });
    $.each([3, 5, 10, 20], function() {
      $('.tools').append("<a href='#colors_sketch' data-size='" + this + "' style='background: #ccc'>" + this + "</a> ");
    });
    $('#colors_sketch').sketch();
  });
  function yes(){

  }

</script>
</body>
</html>