body {
  width: 100%;
  overflow-x: scroll;
  background:  -webkit-radial-gradient(bottom left, circle, #000 1%,#fcffe0 95%);
}
.bodyBlock {
  width: 100%;
  background: url(/img/triangles-bg-big.png);
  /*background: url(/img/bg-struck.png);*/
}

.big-block {
  position: relative;
  top: 0;
  left: 0;
  min-width: 1290px;
  height: 620px;
  padding:0 10px 0 10px;
  white-space: nowrap;
}
.navbar {
  width: 1290px;
  margin-top: -5px;
  margin-bottom: 0;
}
.affix-bar {  
  float: left;
  display: inline-block;
  margin-top: 10px;
  width: 205px;
  height: 605px;
  border: #3B3B3B solid 1px;
  border-radius: 5px;
  background:rgba(0, 0, 0, 0.2) none repeat scroll 0 0 !important;
}
.main {
  float: left;
  display: inline-block;
  width: 860px;
  height: 600px;
  padding: 10px;
}

.board {
  position: relative;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 400px;
  border: #a8a8a8 solid 1px;
  border-radius: 5px;  
}
.sketch {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
  border: #a8a8a8 solid 0px;
  border-radius: 5px;
  z-index: 2;
  background-color: rgba(255,255,255,0);
}
.bin-sketch {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 400px;
  padding: 0px;
  border: #a8a8a8 solid 0px;
  border-radius: 5px;
  z-index: 4;
}
.swiper-container {
  position: relative;
  top: 5px;
  width: 800px;
  height: 200px;
  background:rgba(0, 0, 0, 0.3) none repeat scroll 0 0 !important;
  border: #3B3B3B solid 1px;
  border-radius: 5px;
}
.swiper-wrapper {
  width: 8000px;
}
.swiper-slide {
  margin-right: 10px;
}
.swiper-container img{
  width: 200px;
  height: 200px;
  float: left;
}
.chart {
  position: relative;
  margin: 10px;
  display: inline;
}

.impress {
  position: absolute;
  margin: 0px;
  border: #a8a8a8 solid 1px;
  background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0 !important;
  border-radius: 2px;
}
.slides {
  border: #a8a8a8 solid 1px;
  width: 800px;
  height: 400px;
  white-space: normal;
  z-index: 1;
  zoom: 1;
}
.reveal > .slides > section {
  height: 400px;
  overflow-y: scroll; 
  overflow-x: hidden; 
}
.lazy {
  width: 100px;
  height: 100px;
}
.chart-label {
  width: 188px;
}

.oper-frame {
  position: absolute;
  width: 200px;
  height: 200px;
}

.single-chart {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  padding: 5px;
  display: inline-block;
}
div.single-chart > button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.center {
  text-align:center;
}

.center form {
  display:inline-block;
}

nav {
  position: relative;
  width: 100%;
  margin-bottom: 1px;
}

.sidebar {
  position: relative;
  top: 0;
  padding: 0 10px 0 10px;
}
.left-sidebar {
  left: 0;
}
.right-sidebar {
  right: 0;
}
.container-frame {
  float: left;
  width: 100%;
  height: 140px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;
  border: #a8a8a8 solid 1px;
  border-radius: 2px;
  background-color: #fff;
}

.container-frame > section {
  position: relative;
  height: 80%;
  margin-top: 10%;
  -webkit-transform: scale(0.8,0.7);
}

.container-frame > section:hover {
  -webkit-transform: scale(1.0,1.0);
}

.container-frame > video {
  margin: 5px 5px 5px 5px;
  position: relative;
  width: 170px; height: 130px;
  border-radius: 2px;
}

.vol-bar {
  position: absolute;
  width: 5px;
  height: 0px;
  right: 0px;
  bottom: 10px;
  max-height: 140px;
  background-color: #12acef;
}

.cert-right {
  position: relative;
  float: right;
}

ul.dropdown-menu {
  position: relative;
  width: 100%;
}

.pagination {
  position: absolute;
}
.nav-right {
  height: 43px;
  background-color: #fff;
  border-radius: 5px;
}
.nav-active {
  width: 71px;
}
.unactive {
  width: 66px;
  text-align: center;
}
.nav-right>li>a {
  padding: 10px 10px 10px 10px !important;
  margin: 0 auto;
}
.preview-block {
  position: absolute;
  display: block;
  top: 43px;
  width: 203px;
  height: 560px;
  border-radius: 5px;
  padding-top: 10px; 
}
.tools-block {
  position: absolute;
  display: none;
  top: 43px;
  width: 203px;
  height: 560px;
  border-radius: 5px;
}
.tools-icon{
  position: relative;
  top: 50px;
  display: block;
  width: 43px;
  height: 43px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 40px;
  color: #777;
}
.tools-icon:hover{
  color: #a8a8a8;
}
.outline-block {
  position: absolute;
  display: none;
  top: 43px;
  width: 203px;
  height: 560px;
  border-radius: 5px;
}
.list-group-item {
  cursor: pointer;
}
