html, body {
  height: 100%;
  overflow: hidden;
}

.carousel-inner > * > * {
  border-radius: 0px;
  border: 0px;
}

.site-container {
  height: 100%;
  padding-top: 0 !important;
  padding-bottom: 65px !important;
}

.navbar {
  border-radius: 0px;
  border: 0px;
  margin-bottom: 0px;
}

.navbar-btn {
  border-radius: 2px;
}

.nav-tabs {
  border-bottom: 1px transparent; 
}

.video-screen {
  padding: 15px 15px 0px 0px;
  min-width: 980px;
  height: 100%;
}

.screen {
  position: relative;
  width: 100%;
  height: 100%;
  border: #bbb solid 1px;
  border-radius: 2px;
  background-color: #0099ff;
  color: #fff;
}

.impress-panel {
  min-width: 800px;
  height: 100%;
}


.impress-panel button.edit {
  position: absolute;
  right: 2px;
  top: 2px;
  border: 0;
  z-index: 2;
}

.impress-panel .cover-board {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: transparent;
  z-index: 1;
  display: none;
}

.board {
  position: relative;
  height: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

.sketch {
  position: relative;
  top: 0;
  left: 0;
  padding: 0px;
  border: #666 solid 1px;
  border-radius: 2px;
  /*background-color: rgba(255,255,255,0);*/
}


.charts {
  position: relative;
  height: 100%;
}
.swiper-container {
  position: relative;
  top: 5px;
  height: 150px;

  /*background:rgba(0, 0, 0, 0.3) none repeat scroll 0 0 !important;*/
  border: #666 solid 1px;
  border-radius: 2px;
}

.swiper-wrapper {
  width: 8000px;
}

.swiper-slide {
  margin-right: 10px;
}

.swiper-container img {
  width: 200px;
  /*height: 200px;*/
  height: 33.3333%;
  /*float: left;*/
}

.vertical-center {
  vertical-align: middle;
  align-items: middle;
}

.chart {
  position: relative;
  margin: 10px;
  display: inline;
}

.impress {
  position: relative;
  height: 100%;
  margin: 0px;
  border: #666 solid 1px;
  /*background:rgba(255, 255, 255, 0.3) none repeat scroll 0 0 !important;*/
  border-radius: 2px;
  z-index: 2;
}



.reveal > .slides > section {
  position: relative;
  left: 0; top: 0;
  height: 100%;
  overflow: hidden;
}
.lazy {
  height: 16.666666%;
}
.chart-label {
}

.oper-frame {
  position: relative;
  height: 33.333333%;

}

.single-chart {
  position: relative;
  /*float: left;*/
  /*height: 200px;*/
  height: 66.6666%;
  padding: 5px;
  display: inline-block;
}
div.single-chart > button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.center {
  text-align:center;
}

.center form {
  display:inline-block;
}

.video-source {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: 1px solid #bbb;
  border-radius: 2px;
}


.affix-bar {
  height: 100%;
  padding-top: 15px;
  bottom: 0px;
}

.sidebar {
  position: relative;
  height: 100%;
  padding: 0px 0px 0px 0px;
}
.container-frame {
  display: inline-block;
}

.vol-bar {
  position: absolute;
  max-width: 5px;
  height: 0px;
  right: 0px;
  bottom: 10px;
  max-height: 200px;
  /*background-color: #12acef;*/
}

.cert-right {
  position: relative;
  float: right;
}

ul.dropdown-menu {
  position: relative;
  width: 100%;
}

.pagination {
  position: absolute;
}

.nav-right {
  height: 45px;
  /*background-color: #fff;*/
  border-radius: 2px;
}

.nav-right > li > a {
  margin: 0 auto;
}

.preview-block {
  position: relative;
  display: block;
  /*height: 560px;*/
  height: 100%;
  border-radius: 2px;
  padding: 0px 2px 0px 2px; 
}

.tools-block {
  position: relative;
  display: none;
  /*height: 560px;*/
  border-radius: 2px;
}

.tools-icon {
  position: relative;
  display: block;
  background-color: transparent;
  /*max-width: 74px;*/
  width: 66px;

  height: 50px;
  border-radius: 4px;
  border: 1px black solid;
  margin: 10px 4px;
  color: #777;
}

.tools-icon:hover{
  color: #a8a8a8;
}

.outline-block {
  position: relative;
  display: none;
  top: 43px;
  /*height: 560px;*/
  height: 66.6666%;
  border-radius: 2px;
}

.list-group {
  margin-top: 12px; 
}
.list-group-item {
  cursor: pointer;
}

.tabs {
  width: 33.3333%;
}

.tabs-full {
  width: 100%;
}
