html {
  overflow-x: hidden;
}

body {
  width: 1347px;
}
.affix-left-bar {
  position: relative;
  display: inline-block;
  float: left;
  width: 220px;
  height: 600px;
}

.main {
  position: relative;
  display: inline-block;
  width: 900px;
  height: 600px;
}

.board {
  position: relative;
  left: 50%;
  margin-left: -400px;
  width: 800px;
  height: 400px;
  border: black solid 1px;
  border-radius: 5px;  
}
.sketch {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
  border: black solid 0px;
  border-radius: 5px;
  z-index: 2;
  background-color: rgba(255,255,255,0);
}
.swiper-container {
  position: relative;
  top: 10px;
  width: 800px;
  height: 200px;
  background-color: #fff;
  border: #000 solid 1px;
  border-radius: 5px;
}
.swiper-wrapper {
  width: 4000px;
}
.swiper-slide {
  margin-right: 10px;
}
.swiper-container img{
  width: 200px;
  height: 200px;
  float: left;
  border: red solid 1px;
}
.chart {
  position: relative;
  margin: 10px;
  display: inline;
}

.impress {
  position: absolute;
  margin: 0px;
  border: black solid 1px;

  border-radius: 5px;
}
.slides {
  border: black solid 1px;
  width: 800px;
  height: 400px;
  z-index: 1;
  zoom: 1;
}
section {
  height: 400px;
}

.navbar {
  margin-bottom: 5px;
}

.lazy {
  width: 100px;
  height: 100px;
}
.chart-label {
  width: 188px;
}

.oper-frame {
  position: absolute;
  width: 200px;
  height: 200px;
}

.single-chart {
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  padding: 5px;
  display: inline-block;
}
div.single-chart > button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

.sidebar {
  position: relative;
  float: left;
  border: black solid 1px;
  border-radius: 5px;
  width: 220px;
  margin-left: 10px;
  height: 610px;
}

.video-frame {
  margin: 20px 20px 0px 20px;
  position: relative;
  width: 180px;
  height: 180px;
  border: black solid 1px;
  border-radius: 5px;
}

.video-frame > video {
  margin: 10px 10px 10px 10px;
  position: relative;
  width: 160px; height: 160px;
  border: black solid 1px;
  border-radius: 5px;
}

.vol-bar {
  position: absolute;
  width: 5px;
  height: 0px;
  right: 0px;
  bottom: 10px;
  max-height: 140px;
  background-color: #12acef;
}

#scan-file {
  position: relative;
  left: 497px;
  top: 10px;
  width: 71px;
}

.cert-right {
  position: relative;
  float: right;
}

ul.dropdown-menu {
  position: relative;
  width: 100%;
}