* {
  font-family: 'Open Sans', 'Josefin Slab', 
               'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page-header {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
}

body {
  overflow-x: hidden;
  background-color: transparent;
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: auto, cover;
}

.header {
  font-size: 35px;
  font-weight: 300;
}

.query-flag {
  position: absolute;
  z-index: 5;
  top: 300px;
  display: block;

}
.query-flag:hover{

  box-shadow: 0px 0px 35px 4px #292929;
}
td {
  font-size: 20px;
  overflow: hidden;
  word-break:break-all
}


.div-container {
  float: left;
  width:300px;
  height:190px;
  margin: 10px;
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  display:box;
  box-pack:center;
  box-align:center;
  border: #7d7d7d solid 1px;
}

.index {
  /*display: inline-block;*/
  /*overflow: hidden;*/
  background-color: #fff;
  /*cursor: pointer;*/
}

.index:hover {
  /*box-shadow: 0px 0px 35px 4px #292929;*/
  /*-webkit-transform: scale(1.01, 1.01);*/
}

.his-container {
  position: absolute;
  display: inline-block;
  width: 1280px;
  top: 120px;
  left: 50%;
  margin-left: -640px;
  margin-bottom: 50px;
  color:#fff;
}

.query-icon {
  position: relative;
  display: block;
  top: 20px;
  margin: 0 auto;
  width: 580px;
  height: 360px;
}

