body {
  width: 100%;
  overflow-x: hidden;
  background-image: url(/img/home_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.home-menu {
  width: 980px;
}

.user-opers {
  padding-top: 2em;
}


a {
  color: #fff;
  text-decoration: none;
}

a:hover {  
  color: #ddd;
  cursor: pointer;
  text-decoration: none;
}

.type-form {
  margin-top: 20px;
  width: 450px;
  /*left: 0px;*/
}

.type-form input {
  background-color: transparent;
  border: 2px solid #fff;
  border-right: 0px;
  border-top: 0px;
  color: #fff;
}
.type-form input::-webkit-input-placeholder {
  color: #fff;
}

