@import url('//fonts.googleapis.com/css?family=Open+Sans:300');

* {
  font-family: 'Open Sans';
}
body {
  overflow: hidden;
}
.sign-up-container {
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2b4490), color-stop(1,#000));*/
  position: relative;
  /*height:500px;*/
  max-height: 60%;
}
.sign-up-bgimage {
  position: relative;
  padding: 50px 50px 0px 50px;
  /*height:500px;*/
  max-height: 60%;

  /*background: url(/img/pattern3.png) repeat center center;*/
}
.head-container {
  background-color: #130c0e;
  height:50px;
}
.sign-in-form {
  float: center;
  position: relative;
  left: 50%;
  margin-left: -185px;
  top: 10%;
  width: 370px;
}
.title {
  position:relative;
  left:50%;
  margin-left: -140px;
  /*color:white;*/
  font-size: 45px;
  top: 0;
}