body {
  background-image: url(/img/index_bg_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


@font-face {
  font-family: 'fontawesome-selected';
  src: url("/fonts/fontawesome-selected.eot");
  src: 
  url("/fonts/fontawesome-selected.eot?#iefix") format('embedded-opentype'), 
  url("/fonts/fontawesome-selected.ttf") format('truetype'), 
  url("/fonts/fontawesome-selected.svg#fontawesome-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}

.sign-form {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.user-form {
  min-width: 420px;
}