{% extends 'common/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="page home-page">
  <div class="home-bg ecc-bg"></div>
  <div class="home-greet">
    <span class="huge-title">Hello, {{ user.account }}</span>
  </div>
  <div class="home-main">
      <ul class="home-oper">
        <li class="home-oper-item active">
          <a href="#create" role="tab" data-toggle="tab" aria-controls="create" aria-expanded="true">
            <i class="fa fa-bar-chart fa-5x"></i>
            <div class="home-oper-title">Create Room</div>
          </a>
        </li>
        <li class="home-oper-item">
          <a href="#join" role="tab" data-toggle="tab" aria-controls="join" aria-expanded="false">
            <i class="fa fa-users fa-5x"></i>
            <div class="home-oper-title">Join Room</div>
          </a>
        </li>
        <li class="home-oper-item">
          <a href="/history">
            <i class="fa fa-folder-open-o fa-5x"></i>
            <div class="home-oper-title">View history</div>
          </a>
        </li>
      </ul>

      <div class="home-form tab-content">
        <form id="create" action="/create" method="post" class="ecc-form tab-pane active">
          <div class="ecc-form-group">
            <input name="room" type="text" class="ecc-form-control" placeholder="Room name">
          </div>
          <div class="ecc-text-muted">
            <p>
              Creating a room for a new meeting, then you can invite your friends to join the room.
              A meeting's history can be browsed in history views after meeting ends.
            </p>
          </div>
          <div class="text-center ecc-form-group">
            <button class="ecc-btn ecc-btn-success ecc-btn-block" type="submit">Create Room</button>
          </div>
        </form>

        <form id="join" action="/join" method="post" class="ecc-form tab-pane">
          <div class="ecc-form-group">
            <input name="room" type="text" class="ecc-form-control" placeholder="Room name">
          </div>
          <div class="ecc-form-group">
            <input name="host" type="text" class="ecc-form-control" placeholder="Room Host">
          </div>
          <div class="ecc-text-muted">
            <p>
              Fill the form with your meeting info, room id and the host name.
            </p>
          </div>
          <div class="text-center ecc-form-group">
            <button class="ecc-btn ecc-btn-success ecc-btn-block" type="submit">Join Room</button>
          </div>
        </form>
      </div>
  </div>
</div>
{% endblock content %}
