{% extends '../common/skeleton.html' %}

{% block header %}

{% endblock header %}

{% block content %}
<div class="chat-page">
  <div class="chat-main">
  <div class="chat-videos">
    <ul class="chat-top-bar">
      <li>
        <span id="addSlide" class="ecc-btn chat-oper" data-target="#add-impress-modal" >
          <span class="fa fa-file-powerpoint"></span>
        </span>
      </li>
      <li>
        <span id="mediaOpts" class="ecc-btn chat-oper" data-toggle="modal" data-target="#check-media-modal">
          <span class="fa fa-cog"></span>
        </span>
      </li>
      <li>
        <a href="/" class="ecc-btn chat-oper chat-oper-phone"><span class="fa fa-phone"></span></a>
      </li>
    </ul>

    <div id="localVideo" class="chat-local-video">
      <div id="localVolBar" class="vol-bar"></div>
    </div>

    <div id="remotes" class="chat-remote-video"></div>
  </div>

  <div class="impress-screen">
    <div id="impress" class="carousel slide screen" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators"></ol>
      <div class="carousel-inner impress-panel"
           id="slides"
           role="listbox">
      </div>
      <button class="btn btn-default btn-xs edit" id="slideEdit">
        <span class="fa fa-edit"></span>
      </button>
      <div id="editBoard">
        <form class="slide-edit">
          <textarea type="text" resize="none" id="slideContent" placeholder="Wirte your slide here..."></textarea>
        </form>
      </div>
    </div>
  </div>
  </div>
  {% include "check-media.html" %}
</div>
{% endblock content %}
