<div class="modal fade" id="createModal">
  <div class="modal-dialog" style="width: 730px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create Discuss</h4>
      </div>

      <div class="modal-body">
        
        <div class="form-group" role="form">
          
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-comment"></span></span>
            <input name="create-room" class="form-control" type="text" placeholder="Room Name">
            
          </div>
          <br>
        
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-bookmark"></span></span>
            <input class="form-control outline-input" type="text" placeholder="Topics of the Discuss">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default add-outline">
                <span class="glyphicon glyphicon-plus"></span>
              </button>     
            </span>
          </div>

        </div>

        <div class="input-group">
          <ul class="list-group"></ul>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="create-room-btn" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>