<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>Ecclesia Home</title>
<link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
<div class="page home-page">
  <nav>
    <div class="navbar navbar-inverse" role="navigation" style="border-radius:0px;">
      <div class="navbar-header" >
        <a href="/" class="navbar-brand">Ecclesia</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout">logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="site-container">
    <div class="main">
      <div class="home-menu center-block">
        <h1 class="huge-title">Welcome to Ecclesia, {{ user.name }}</h1>
        <div class="user-opers">
          <div class="col-md-4 text-center white-text">
            <a href="#create" class="home-link" role="tab" data-toggle="tab" aria-controls="create" aria-expanded="true">
              <i class="fa fa-bar-chart fa-5x"></i>
              <h2>Create a meeting</h2>
            </a>
          </div>
          <div class="col-md-4 text-center white-text">
            <a href="#join" class="home-link" role="tab" data-toggle="tab" aria-controls="join" aria-expanded="false">
              <i class="fa fa-users fa-5x"></i>
              <h2>Join a meeting</h2>
            </a>
          </div>
          <div class="col-md-4 text-center white-text">
            <a href="/history" class="home-link">
              <i class="fa fa-folder-open-o fa-5x"></i>
              <h2>View history</h2>
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-content">
      <form id="create" action="/home/create" method="post" class="type-form center-block tab-pane active">
        <div class="form-group">
          <input name="room" type="text" class="form-control" placeholder="Room name">
        </div>
        <div class="text-center form-group">
          <button class="btn btn-success" type="submit">Create Room</button>
        </div>
      </form>

      <form id="join" action="/home/join" method="post" class="type-form center-block tab-pane">
        <div class="form-group">
          <input name="room" type="text" class="form-control" placeholder="Meeting name">
        </div>
        <div class="form-group">
          <input name="host" type="text" class="form-control" placeholder="Meeting Host">
        </div>
        <div class="text-center form-group">
          <button class="btn btn-default" type="submit">Join Room</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/app.js"></script>
<script type="text/javascript" src="/js/home.js"></script>
</body>
</html>
