<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Join Room</h4>
      </div>

      <div class="modal-body">
        <div class="form-group" role="form">
          <div class="input-group">
            <div class="input-group-addon">
            <span class="glyphicon glyphicon-comment"></span></div>
            <input type="text" class="form-control" name="join-room" placeholder="Room Name">
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span></div>
            <input type="text" class="form-control" name="room-host" placeholder="Host name">
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="joinRoom" class="btn btn-primary ">Join</button>
      </div>
    </div>
  </div>
</div>