<header class="head-container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Ecclesia</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button id="addSlide" class="btn btn-default navbar-btn"  data-target="#add-impress-modal">
            Slide <span class="glyphicon glyphicon-plus"></span>
            </button>
          </li>
          <li>
            <button id="addChart" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#add-chart-modal">
              Chart <span class="glyphicon glyphicon-plus"></span>
            </button>
          </li>
          <li>
            <button id="mediaOpts" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#check-media-modal">
              Media <span class="glyphicon glyphicon-wrench"></span>
            </button>
          </li>
          <li><a href="/logout">logout</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>
