body {
  font: 14px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p, span {
  font-weight: 300;
}

.btn {
  border-radius: 2px;
}

.navbar-btn {
  margin-right: 4px;
}

.huge-title {
  position: relative;
  word-wrap: break-word;
  word-break: normal;
  color: #fff;
}

.site-container {
  overflow: auto;
}

.main {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding: 2em 4em;
  width: 100%;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

a:hover {
  color: #ddd;
  cursor: pointer;
}

.page {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  bottom: 0;
}

.header {
  h1 {
    color: #fff;
  }
}


.navbar {
  background-color: #fff;
  color: #666;
  border: 0;
  border-radius: 0;

  &:hover {
    color: #333;
  }
}

.navbar-nav {
  li {
    a {
      color: #333;
      background-color: #fff;
    }

    &:hover {
      a {
        color: #666;
        background-color: #eee;
      }
    }
  }
}

.ecc-header {
  a {
    color: #666;
  }
}

.ecc-sign-description {
  color: #fff;
}
