body {
  word-wrap: break-word;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-weight: 300;
}

.navbar {
  border: 0px;
  border-radius: 0px;
}

.btn, .navbar-btn {
  border-radius: 2px;
}

.white-text {
  color: #fff;
}

.huge-title {
  position: relative;
  word-wrap: break-word;
  word-break: normal;
  color: #fff;
}

.site-container {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.main {
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  padding: 20px 40px;
  width: 100%;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

a:hover {
  color: #ddd;
  cursor: pointer;
}

.page {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
