.chat-page {
  padding: 15px 0;
}

.carousel-inner * {
  border-radius: 0px;
  border: 0px;
}

.carousel-indicators {
  li {
    background-color: #aaa;
  }

  .active {
    background-color: #ddd;
  }
}

.navbar {
  border-radius: 0px;
  border: 0px;
  margin-bottom: 0px;
}

.navbar-btn {
  border-radius: 2px;
}

.nav-tabs {
  border-bottom: 1px transparent;
}

.video-screen {
  min-width: 720px;
  height: 100%;
}

.screen {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 540px;
  background-color: rgba(0, 0, 0, .1);
  color: #444;
}

.impress-panel {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;

  .item {
    width: 100%;
    height: 100%;
  }
}

.edit {
  position: absolute;
  right: 2px;
  top: 2px;
  border: 0;
  z-index: 12;
}

#editBoard {
  position: absolute;
  padding-top: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  color: #fff;
  z-index: 10;
  display: none;
}

textarea {
  max-width: 100%;
}


.board {
  position: relative;
  height: 100%;
  margin-left: -10px;
  margin-right: -10px;
}

.sketch {
  position: relative;
  top: 0;
  left: 0;
  padding: 0px;
  border: #666 solid 1px;
  border-radius: 2px;
}

.swiper-container {
  position: relative;
  top: 5px;
  height: 150px;
  border: #666 solid 1px;
  border-radius: 2px;
}

.swiper-wrapper {
  width: 8000px;
}

.swiper-slide {
  margin-right: 10px;
}

.swiper-container img {
  width: 200px;
  height: 33.3333%;
}

.vertical-center {
  vertical-align: middle;
  align-items: middle;
}
.impress {
  position: relative;
  height: 100%;
  margin: 0px;
  border: #666 solid 1px;
  border-radius: 2px;
  z-index: 2;
}

.reveal > .slides > section {
  position: relative;
  left: 0; top: 0;
  height: 100%;
  overflow: hidden;
}
.lazy {
  height: 16.666666%;
}

.oper-frame {
  position: relative;
  height: 33.333333%;

}

.center {
  text-align:center;
}

.center form {
  display:inline-block;
}

.video-source {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px #aaa;
}

.video-source > video {
  height: 100%;
  max-width: 100%;
}

.affix-bar {
  height: 100%;
  bottom: 0px;
}

.container-frame {
  display: inline-block;
}

.vol-bar {
  position: absolute;
  max-width: 5px;
  height: 0px;
  right: 0px;
  bottom: 10px;
  max-height: 200px;
}

.cert-right {
  position: relative;
  float: right;
}

ul.dropdown-menu {
  position: relative;
  width: 100%;
}

.pagination {
  position: absolute;
}

.nav-right {
  height: 45px;
  border-radius: 2px;
}

.nav-right > li > a {
  margin: 0 auto;
}

.preview-block {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 2px;
  padding: 0px 2px 0px 2px;
}

.tools-block {
  position: relative;
  display: none;
  /*height: 560px;*/
  border-radius: 2px;
}

.tools-icon {
  position: relative;
  display: block;
  background-color: transparent;
  /*max-width: 74px;*/
  width: 66px;

  height: 50px;
  border-radius: 4px;
  border: 1px black solid;
  margin: 10px 4px;
  color: #777;
}

.tools-icon:hover{
  color: #a8a8a8;
}

.outline-block {
  position: relative;
  display: none;
  top: 43px;
  height: 66.6666%;
  border-radius: 2px;
}

.list-group {
  margin-top: 12px;
}
.list-group-item {
  cursor: pointer;
}

.tabs {
  width: 33.3333%;
}

.tabs-full {
  width: 100%;
}

.slide-content {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.available-devices {
  .dropdown-toggle {
    position: relative;
  }
  .dropdown-toggle:after {
    content: ' ';
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
  }
}

.chat-oper {
  background: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    color: #fff;
    transform: scale(1.1);
  }
}
