pre .lang { background-color: #ffffcc }
.lang-c { color: #586E75 } /* Comment */
.lang-err { color: #93A1A1 } /* Error */
.lang-g { color: #93A1A1 } /* Generic */
.lang-k { color: #859900 } /* Keyword */
.lang-l { color: #93A1A1 } /* Literal */
.lang-n { color: #93A1A1 } /* Name */
.lang-o { color: #859900 } /* Operator */
.lang-x { color: #CB4B16 } /* Other */
.lang-p { color: #93A1A1 } /* Punctuation */
.lang-cm { color: #586E75 } /* Comment.Multiline */
.lang-cp { color: #859900 } /* Comment.Preproc */
.lang-c1 { color: #586E75 } /* Comment.Single */
.lang-cs { color: #859900 } /* Comment.Special */
.lang-gd { color: #2AA198 } /* Generic.Deleted */
.lang-ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.lang-gr { color: #DC322F } /* Generic.Error */
.lang-gh { color: #CB4B16 } /* Generic.Heading */
.lang-gi { color: #859900 } /* Generic.Inserted */
.lang-go { color: #93A1A1 } /* Generic.Output */
.lang-gp { color: #93A1A1 } /* Generic.Prompt */
.lang-gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.lang-gu { color: #CB4B16 } /* Generic.Subheading */
.lang-gt { color: #93A1A1 } /* Generic.Traceback */
.lang-kc { color: #CB4B16 } /* Keyword.Constant */
.lang-kd { color: #268BD2 } /* Keyword.Declaration */
.lang-kn { color: #859900 } /* Keyword.Namespace */
.lang-kp { color: #859900 } /* Keyword.Pseudo */
.lang-kr { color: #268BD2 } /* Keyword.Reserved */
.lang-kt { color: #DC322F } /* Keyword.Type */
.lang-ld { color: #93A1A1 } /* Literal.Date */
.lang-m { color: #2AA198 } /* Literal.Number */
.lang-s { color: #2AA198 } /* Literal.String */
.lang-na { color: #93A1A1 } /* Name.Attribute */
.lang-nb { color: #B58900 } /* Name.Builtin */
.lang-nc { color: #268BD2 } /* Name.Class */
.lang-no { color: #CB4B16 } /* Name.Constant */
.lang-nd { color: #268BD2 } /* Name.Decorator */
.lang-ni { color: #CB4B16 } /* Name.Entity */
.lang-ne { color: #CB4B16 } /* Name.Exception */
.lang-nf { color: #268BD2 } /* Name.Function */
.lang-nl { color: #93A1A1 } /* Name.Label */
.lang-nn { color: #93A1A1 } /* Name.Namespace */
.lang-nx { color: #93A1A1 } /* Name.Other */
.lang-py { color: #93A1A1 } /* Name.Property */
.lang-nt { color: #268BD2 } /* Name.Tag */
.lang-nv { color: #268BD2 } /* Name.Variable */
.lang-ow { color: #859900 } /* Operator.Word */
.lang-w { color: #93A1A1 } /* Text.Whitespace */
.lang-mf { color: #2AA198 } /* Literal.Number.Float */
.lang-mh { color: #2AA198 } /* Literal.Number.Hex */
.lang-mi { color: #2AA198 } /* Literal.Number.Integer */
.lang-mo { color: #2AA198 } /* Literal.Number.Oct */
.lang-sb { color: #586E75 } /* Literal.String.Backtick */
.lang-sc { color: #2AA198 } /* Literal.String.Char */
.lang-sd { color: #93A1A1 } /* Literal.String.Doc */
.lang-s2 { color: #2AA198 } /* Literal.String.Double */
.lang-se { color: #CB4B16 } /* Literal.String.Escape */
.lang-sh { color: #93A1A1 } /* Literal.String.Heredoc */
.lang-si { color: #2AA198 } /* Literal.String.Interpol */
.lang-sx { color: #2AA198 } /* Literal.String.Other */
.lang-sr { color: #DC322F } /* Literal.String.Regex */
.lang-s1 { color: #2AA198 } /* Literal.String.Single */
.lang-ss { color: #2AA198 } /* Literal.String.Symbol */
.lang-bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.lang-vc { color: #268BD2 } /* Name.Variable.Class */
.lang-vg { color: #268BD2 } /* Name.Variable.Global */
.lang-vi { color: #268BD2 } /* Name.Variable.Instance */
.lang-il { color: #2AA198 } /* Literal.Number.Integer.Long */


code {
  border-radius: .25em;
  margin: 0 -.03125em;
  padding: .0625em .25em 0;
}
.post p > code {
  background-color: white;
  font-size: 16px;
}

.post pre > code {
  overflow-x: hidden;
  white-space: pre;
  word-wrap: normal;
  overflow-wrap: normal;
  vertical-align: baseline;
  font-size: 16px;
}

code.language-text {
  word-wrap: break-word !important;
  word-break: normal;
}
