.home-page {
  background-image: url(/img/home_bg.jpg);
}

.home-menu {
  width: 980px;
}

.home-link,
.home-link:focus,
.home-link:visited {
  color: #fff;
}
.home-link:hover {
  color: #ddd;
}

.user-opers {
  display: flex;
  padding: 2em 0;
}

.type-form {
  margin-top: 20px;
  max-width: 450px;
}
