.index-intro {
  flex: 1 0;
  color: #fff;
}

.index-intro-subtitle {
  font-size: 14px;
  word-break: break-all;
}

.index-page {
  background: #108dc7; /* fallback for old browsers */
  background: linear-gradient(to right, #108dc7, #ef8e38); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.index-main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 500px;
  height: 480px;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: 0 4px 10px rgba(255, 255, 255, .3);
}

.index-form {
  margin: auto;
  margin-bottom: 20px;
  width: 320px;

  .ecc-form {
    height: 230px;
  }
}

.index-copyright {
  text-align: center;
  color: #fff;
}
