.index-intro {
  color: #fff;
}

.index-intro-subtitle {
  font-size: 18px;
}

.index-page {
  background-image: url(/img/index_bg_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.index-main {
  height: 400px;
}
