{% extends './skeleton.html' %}

{% block nav %}
<nav class="ecc-header">
  <div class="ecc-navbar" role="navigation">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Ecclesia</a>
    </div>
    <div class="ecc-navbar-collapse">
      <ul class="ecc-nav ecc-navbar-nav">
        {% block header %}{% endblock header %}
        {% if user %}<li><a href="/logout">Logout</a></li>{% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}{% endblock %}
