<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
<title>{% block title %}Welcome{% endblock %} - Ecclesia</title>
{% block style %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet"/>
<link href="/css/bootstrap.css" rel="stylesheet"/>
{% endblock %}
</head>
<body>
{% block nav %}{% endblock %}
{% block content %}{% endblock %}

<!-- after scripts  -->
<script src="/js/bundle.js"></script>
{% block script %}
{% endblock script %}
</body>
</html>
